<!DOCTYPE html>
<html>
<head>
  <% include ../../../../core/server/views/pages/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

    <% include ../../../core/server/views/pages/header %>
    
    <% include ../../../admin/server/views/pages/aside %>
    <% include ../../../admin/server/views/pages/content-wrapper %>

    <% include ../../../core/server/views/pages/main-footer %>
    <% include ../../../core/server/views/pages/control-sidebar %>

  </div>
  <!-- ./wrapper -->
  <% include ../../../admin/server/views/pages/script %>

</body>
</html>
